.profile-page{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    height: fit-content;
    overflow: scroll;
    img{
        height: 48px;
        width: 48px;
    }
    .transfer{
        background-color: #7fc8ff;
        border-radius: 3px;
        padding: 24px;
        height: fit-content;
        .coins-transfer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                margin-block-start: 24px;
            }
        }
    }
    .moves{
        display: flex;
        flex-direction: column;
        background-color: #f1f1f1;
        padding: 24px;
        height: fit-content;
        .move{
            display: flex;
            justify-content: space-between;
            border-block-start: 1px solid #dfdfdf;
            border-block-end: 1px solid #dfdfdf;
            padding: 12px 0;
            height: fit-content;
            .properties{
                display: flex;
                flex-direction: column;
            }
            .values{
                display: flex;
                flex-direction: column;
            }
        }
    }
}