<section *ngIf="user$|async as user" class="profile-page">
    <section>
        <img src="https://res.cloudinary.com/digrqdbso/image/upload/v1701019091/angular/wo_kyuai7.png">
        <div>
            <p>Name: {{user.name}}</p>
            <p>Phone: {{user.phone}}</p>
            <p>Email: {{user.email}}</p>
        </div>
    </section>
    <section class="transfer">
        <span>Transfer Coins to {{user.name}}</span>
        <div class="coins-transfer">
            Amount: 
            <input #elTransfer type="number" name="" min=1 max=100 id="coins"/>
            <button (click)="onTransfer()">Transfer</button>
        </div>
        
    </section>
    <section>
        <p>moves: {{loggedInUser!.moves}}</p>
    </section>
</section>
<section *ngIf="correctPath" class="profile-page">
    <section>
        <img src="https://res.cloudinary.com/digrqdbso/image/upload/v1701019091/angular/wo_kyuai7.png">
        <div>
            <p>Name: {{loggedInUser!.name}}</p>
            <p>coins: {{loggedInUser!.coins}}</p>
        </div>
    </section>
    <section class="moves">
        <span>moves: </span>
        <section *ngFor="let move of loggedInUser!.moves" class="move">
            <!-- <p>{{move  | json}}</p> -->
            <div class="properties">
                <span>Amount:</span>
                <span>At:</span>
            </div>
            <div class="values">
                <span *ngFor="let key of getMoveKeys(move)">
                    {{key}}
                </span>
            </div>
        </section>
    </section>
</section>
